@font-face {
    font-family: boldFont;
    src: url(../../assets/fonts/FSAlbertArabic-Bold.ttf);
}
@font-face {
    font-family: regularFont;
    src: url(../../assets/fonts/FSAlbertArabic-Regular.ttf);
}

.logo img{
    width: 100%;
    max-height: 45px;
}
.navbar{
    box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
    padding: 0.85rem 1.15rem;
}
.nav-item{
    font-size: 13px;
color: #8B8A8A;
text-decoration: none;
}
.navbar-pg{
      font-family: boldFont, serif ;
    color: #8B8A8A;
    margin-left:8rem;
    display: flex;
    font-size: 14px;
    width:55%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
 
    /* margin-right:8rem; */
 }
.navbar-pg .join-now{
    color: #FF987A !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem ;
    font-size: 12px;
    padding-left: 2.5rem ;
}
.btn{
    font-family: regularFont, serif;
  }
.signUp{
    margin-left: 20px;
    color: #7CB264;
    font-size: 16px;
    text-decoration: none;

}
.signIn{
    background-color: #7CB264;
    border: none;
    border-radius: 6px;
    padding: 7.2px;
    width: 7rem;
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .navbar-pg {
        margin-right: 0;
 
    }
    .btn{
        font-size: 15px;
    }
    .signIn{
        width: 7rem;
    }
}

.About__link{
    align-items: center;
    justify-content: center;
    height: 80vh;
    display: flex;
}
.Comuncation__link{
    align-items: center;
    justify-content: center;
    height: 80vh;
    display: flex;
}


.Service__link{
  padding-top:3rem;
}
